
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>問答比賽</title>
    <!--script src="https://code.jquery.com/jquery-3.5.0.js"></script-->
    <script src="/quizcompet/dist/js/jquery.min.js"></script>
    <link href="/quizcompet/dist/jquery.counter-analog2.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/quizcompet/dist/jquery.counter.js" type="text/javascript"></script>
    <!-- Bootstrap core CSS -->
    <link href="/quizcompet/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous"-->
    <script src="/quizcompet/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">
    style.
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  </head>
  <body>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">問答比賽</h4>
          <p class="text-muted">000-999。不設負分，扣到零分為止，可以設始起分數。</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">連絡</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
        <strong>問答比賽</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
- teams=["隊一","隊二","隊三","隊四"]
<span id=teams_num style="display:none">!{teams.length}</span>
<main>
  <section class="py-3 text-center container">
    <h1 class="fw-light" id=quiz_title>22年度問答比賽</h1>
  </section>
  <div class="album py-1 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-!{teams.length} g-4">
        - idx=0
        each team in teams
          - idx++
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text id=team_title_!{idx} x="50%" y="50%" fill="#eceeef" dy=".3em" style="font-size:30px;">!{team}</text>
              </svg>
              <div class="card-body">
                <p class="text-center">
                  <span id="counter!{idx}" class="counter counter-analog2" data-direction="up" data-interval="1" data-format="999" data-stop="000">0</span>
                </p>
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="AddMark(!{idx})">+</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="MinMark(!{idx})">-</button>
                  </div>
                  <small id="counter!{idx}_num" class="text-muted">0</small>
                </div>
              </div>
              <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text id=team_rank_!{idx} x="50%" y="50%" fill="#eceeef" dy=".3em" style="font-size:30px;">--</text>
              </svg>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <span>計分類別:</span>
    <input type=radio name="tx" id=tx_check_a value="A" checked="true">
    <span>A:</span>
    <input id=tx_a_mark value="5" size="2">
    <input type=radio name="tx" id=tx_check_b  value="B">
    <span>B:</span>
    <input id=tx_b_mark value="10" size="2">    
    <input id=botton_hiden_rank type="button" value="不顯示">    
    <input id=botton_show_rank type="button" value="顯示排名">
    <br>
    <span>標題名稱:</span>
    <input id=input_quiz_title value="22年度問答比賽" size="36">    
    <input id=button_quiz_title type="button" value="修改">
    <br>
    <span>分組名稱:</span>
    <input id=input_team_title_1 value="隊一" size="6">    
    <input id=input_team_title_2 value="隊二" size="6">    
    <input id=input_team_title_3 value="隊三" size="6">    
    <input id=input_team_title_4 value="隊四" size="6">    
    <input id=button_team_title type="button" value="修改">
    <br>
    <span>起始分數:</span>
    <input id=input_start_mark_1 value="100" size="6">    
    <input id=input_start_mark_2 value="100" size="6">    
    <input id=input_start_mark_3 value="100" size="6">    
    <input id=input_start_mark_4 value="100" size="6">    
    <input id=botton_init_mark type="button" value="修改">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1"></p>
    <p class="mb-0"></p>
  </div>
</footer>
    script.
        function SetMark(i,num_){
          if(num_<0 ) num_=0;
          let c_num =Number($(`#counter${i}_num`).text());
          let start=c_num;
          if(Math.abs(num_ - c_num)>30) start=num_;
          let dir="up";
          if(c_num>num_) dir="down"
          $(`#counter${i}`).counter({
          initial:start,
          direction: dir,
          interval: '1',
          format: '999',
          stop: num_
          });
          $(`#counter${i}_num`).text(num_);
        }
        function AddMark(i){
          let interv=1;
          console.log($('#tx_check_a:checked'))
          if($('#tx_check_a:checked').length>0 ) interv=Number($('#tx_a_mark').val());
          if($('#tx_check_b:checked').length>0 ) interv=Number($('#tx_b_mark').val());
          let c_num =Number($(`#counter${i}_num`).text());
          SetMark(i,c_num + interv)
        }
        function MinMark(i){
          let interv=1;
          if($('#tx_check_a:checked').length>0 ) interv=Number($('#tx_a_mark').val());
          if($('#tx_check_b:checked').length>0 ) interv=Number($('#tx_b_mark').val());
          let c_num =Number($(`#counter${i}_num`).text());
          SetMark(i,c_num - interv)
        }
        let teams_num=Number($('#teams_num').text());
        console.log(teams_num)
        $( "#button_quiz_title" ).click(function() {
          let input_quiz_title=$('#input_quiz_title').val()
          $('#quiz_title').text(input_quiz_title)
        });    
        $( "#button_team_title" ).click(function() {
          for(let i=1;i<=teams_num;i++){
            let input_quiz_title=$(`#input_team_title_${i}`).val()
            console.log(input_quiz_title)
            $(`#team_title_${i}`).text(input_quiz_title)
          }
        });    
        $( "#botton_init_mark" ).click(function() {
          for(let i=1;i<=teams_num;i++){
            let input_quiz_title=Number($(`#input_start_mark_${i}`).val())
            SetMark(i,input_quiz_title)
          }
        });    
        $( "#botton_hiden_rank" ).click(function() {
          for(let i=1;i<=teams_num;i++){
            $(`#team_rank_${i}`).text("---")
          }
        });    
        $( "#botton_show_rank" ).click(function() {
          let marks=[]
          for(let i=1;i<=teams_num;i++){
            marks.push(Number($(`#counter${i}_num`).text()));
          }
          marks.sort(function(a, b){return b-a})
          for(let i=1;i<=teams_num;i++){
            let n_=Number($(`#counter${i}_num`).text());
            if(n_==0) continue;
            for(let j=0;j<marks.length;j++){
              if(n_==marks[j]) {$(`#team_rank_${i}`).text(j+1);break;}
            }
          }
        });    
        $('.counter').counter();
        //$('#custom').addClass('counter-analog').counter({
        //    initial: '0:00.0',
        //    direction: 'up',
        //    interval: '1',
        //    format: '9999',
        //    stop: '2012'
        //});
</body>
</html>
